.home-page-container {
  max-width: 650px;
  margin: 4rem auto;
  padding: 3rem 2.5rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background: #4b5865;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s ease;
}
/* Title for home page */
h1 {
  color: #ffcc00;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-shadow: 0 0 5px rgba(255, 204, 0, 0.7);
  text-transform: uppercase;
}
/* home page paragraph */
.home-page-container p {
  font-size: 1.3rem;
  line-height: 1.75;
  color: #ffffff;
  margin-bottom: 2rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
